#Allure
.allure
/*/allure-results/

#Maven
target

#Gradle
.gradle
build
.gradletasknamecache

#IDEA
.idea/*
*.iml
*.ipr

#Eclipse
*.settings
*.classpath
*.project
*.pydevproject

#Netbeans
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
nbbuild/
dist/
nbdist/
.nb-gradle/

#Mac OS
.DS_Store
